/****** base ******/

/****** fonts ******/

/*@font-face {
	font-family: "Nanum Barun Gothic";
	src: url("../fonts/nanumbarungothic.eot");
	src: local("☺"), url("../fonts/nanumbarungothic.woff") format("woff"), url("../fonts/nanumbarungothic.ttf") format("truetype"),	url("../fonts/nanumbarungothic.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}*/

/****** elemenets ******/

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: "Arial", sans-serif;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

input[type="text"], input[type="password"], textarea {
	display: block;
	width: 350px;
	padding: 10px 15px;
	background-color: #ebebeb;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 14px;
	border: 1px solid #cfcfcf;
}

textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

p + textarea {
	margin-top: 5px;
}

input[type="file"] {
	display: none;
}

button {
	outline: 0;
	border: none;
	font-family: "Nanum Barun Gothic", sans-serif;
}

button.confirm, button.cancel {
	display: inline-block;
	margin: 0 10px;
	width: 140px;
	padding: 0 20px;
	line-height: 40px;
	font-size: 15px;
	border-radius: 40px;
	color: #fff;
	cursor: pointer;
}

button.confirm {
	background-color: #29abe1;
}

button.cancel {
	background-color: #acacac;
}

* ~ button.activate {
	margin-left: 5px;
}

button.activate {
	display: inline-block;
	position: relative;
	width: 130px;
	padding: 0 20px;
	border-radius: 6px;
	line-height: 30px;
	font-size: 14px;
	cursor: pointer;
}

button.activate--extend {
	width: 155px;
}

button.activate--blue {
	background-color: #addcf0;
}

button.activate--dark-blue {
	background-color: #29abe1;
}

button.activate--green {
	background-color: #8dc63f;
}

button.activate--orange {
	background-color: #f68e56;
}

button.activate--dark-orange {
	background-color: #f26522;
}

button.activate--grey {
	background-color: #acacac;
}

button.activate--white {
	color: #fff;
}

button.activate--icon {
	padding-left: 30px;
}

button.activate--icon img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5px;
	margin: auto;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.full-length {
	width: 100% !important;
}

.inline-middle > * {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
}

.inline-middle > img + span {
	padding-left: 8px;
}

.inline-middle > img + span.no-padding {
	padding-left: 2px;
}

.blue {
	color: #29abe1 !important;
}

.dark-blue {
	color: #0072bc !important;
}

.red {
	color: #f26c4f !important;
}

.grey {
	color: #636363 !important;
}

.container {
	padding: 30px 0;
}

.v-align-wrap {
	display: table;
	width: 100%;
}

.v-align-middle {
	display: table-cell;
	vertical-align: middle;
}

/*New Buttons*/
#create-content__howto {
	background-color: #fff;
	height: 120px;
	padding: 5px;
}

#create-content__howto ul li{
	list-style: none;
	float: left;
	height: 120px;
}

#create-content__howto ul li:nth-child(1){
	margin-left: 200px;
}
#create-content__howto ul li:nth-child(2){
	margin-left: 20px;
	width: 300px;
	padding-top: 20px;
	color: #29abe1;
}

.spacer {
	width: 1px;
	height: 1px;
	clear: both;
}

.btn-mindmap {
	background: url(/assets/img/btn/btn_mindmapscreen_normal_en.png) no-repeat 0 0;
	width: 86px;
	height: 35px;
	float: left;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	padding-left: 35px;
	margin-top: 7px;
	text-align: left;
}

.btn-mindmap:hover {
	background: url(/assets/img/btn/btn_mindmapscreen_over_en.png) no-repeat 0 0;
}

.btn-mindmap:active {
	background: url(/assets/img/btn/btn_mindmapscreen_down_en.png) no-repeat 0 0;
}

.btn-addwheel {
	background: url(/assets/img/btn/btn_addwheel_normal_en.png) no-repeat 0 0;
	width: 59px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-size: 14px;
	color: #fff;
	padding-left: 35px;
	text-align: left;
	line-height: 35px;
}

.btn-addwheel:hover {
	background: url(/assets/img/btn/btn_addwheel_over_en.png) no-repeat 0 0;
}

.btn-addwheel:active {
	background: url(/assets/img/btn/btn_addwheel_down_en.png) no-repeat 0 0;
}

.btn-deletewheel {
	background: url(/assets/img/btn/btn_deletewheel_normal_en.png) no-repeat 0 0;
	width: 59px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	padding-left: 35px;
	text-align: left;
}

.btn-deletewheel:hover {
	background: url(/assets/img/btn/btn_deletewheel_over_en.png) no-repeat 0 0;
}

.btn-deletewheel:active {
	background: url(/assets/img/btn/btn_deletewheel_down_en.png) no-repeat 0 0;
}

.btn-delete-content {
	background: url(/assets/img/btn/btn_deletecontents_normal_en.png) no-repeat 0 0;
	width: 85px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	padding-left: 35px;
	text-align: left;
	display: inline-block;
	float: right;
}

.btn-delete-content:hover {
	background: url(/assets/img/btn/btn_deletecontents_over_en.png) no-repeat 0 0;
}

.btn-delete-content:active {
	background: url(/assets/img/btn/btn_deletecontents_down_en.png) no-repeat 0 0;
}

.btn_questions {
	background: url(/assets/img/btn/btn_questions_normal_en.png) no-repeat 0 0;
	width: 85px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-size: 14px;
	color: #fff;
	padding-left: 35px;
	text-align: left;
	display: inline-block;
	float: left;
	line-height: 35px;
}

.btn_questions:hover {
	background: url(/assets/img/btn/btn_questions_over_en.png) no-repeat 0 0;
}

.btn_questions:active {
	background: url(/assets/img/btn/btn_questions_down_en.png) no-repeat 0 0;
}

.btn-preview {
	margin-top: 10px;
	background: url(/assets/img/btn/btn_preview_normal_en.png) no-repeat 0 0;
	width: 120px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-size: 14px;
	color: #64C8C8;
	padding-left: 77px;
	text-align: left;
	display: inline-block;
	line-height: 42px;
	background-size: 170px;
}

.btn-preview:hover {
	background: url(/assets/img/btn/btn_preview_over_en.png) no-repeat 0 0;
	color: #8BD6D6;
	background-size: 170px;
}

.btn-preview:active {
	background: url(/assets/img/btn/btn_preview_down_en.png) no-repeat 0 0;
	color: #489090;
}

.btn-mindmap, .btn-deletewheel, .btn-addwheel {
	float: left;
	height: 35px;
	margin-top: 7px;
}

.btn-mindmap:active, .btn-deletewheel:active, .btn-addwheel:active, .btn-delete-content:active {
	color: #AFB5B5;
}

.flt-r {
	float: right;
}

.flt-l {
	float: left;
}

.mgn-r10 {
	margin-right: 10px;
}

.btn-save {
	margin-top: 10px;
	background: url(/assets/img/btn/btn_save_normal_en.png) no-repeat 0 0;
	width: 149px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	line-height: 31px;
	text-align: center;
}

.btn-save:hover {
	background: url(/assets/img/btn/btn_save_over_en.png) no-repeat 0 0;
}

.btn-save:active {
	background: url(/assets/img/btn/btn_save_down_en.png) no-repeat 0 0;
	color: #B8B8B8;
}

.btn-delete {
	margin-top: 10px;
	background: url(/assets/img/btn/btn_delete_normal_en.png) no-repeat 0 0;
	width: 149px;
	font-family: "Nanum Barun Gothic", sans-serif;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	line-height: 31px;
	text-align: center;
}

.btn-delete:hover {
	background: url(/assets/img/btn/btn_delete_over_en.png) no-repeat 0 0;
}

.btn-delete:active {
	background: url(/assets/img/btn/btn_delete_down_en.png) no-repeat 0 0;
	color: #B8B8B8;
}

.btn-edit {
	margin-top: 10px;
	background: url(/assets/img/btn/btn_edit_normal.png) no-repeat 0 0;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.btn-edit:hover {
	background: url(/assets/img/btn/btn_edit_over.png) no-repeat 0 0;
}
.btn-edit:active {
	background: url(/assets/img/btn/btn_edit_down.png) no-repeat 0 0;
}

.btn-edit2 {
	margin-top: 10px;
	background: url(/assets/img/btn/btn_edit2_normal.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.btn-edit2:hover {
	background: url(/assets/img/btn/btn_edit2_over.png) no-repeat 0 0;
}
.btn-edit2:active {
	background: url(/assets/img/btn/btn_edit2_down.png) no-repeat 0 0;
}

.btn-down {
	margin-top: 11px;
	background: url(/assets/img/btn/btn_down_normal.png) no-repeat 0 0;
	width: 29px;
	height: 28px;
	cursor: pointer;
	margin-right:5px;
}
.btn-down:hover {
	background: url(/assets/img/btn/btn_down_over.png) no-repeat 0 0;
}
.btn-down:active {
	background: url(/assets/img/btn/btn_down_down.png) no-repeat 0 0;
}

.btn-left {
	margin-top: 11px;
	background: url(/assets/img/btn/btn_left_normal.png) no-repeat 0 0;
	width: 29px;
	height: 28px;
	cursor: pointer;
}
.btn-left:hover {
	background: url(/assets/img/btn/btn_left_over.png) no-repeat 0 0;
}
.btn-left:active {
	background: url(/assets/img/btn/btn_left_down.png) no-repeat 0 0;
}

.btn-up {
	margin-top: 11px;
	background: url(/assets/img/btn/btn_up_normal.png) no-repeat 0 0;
	width: 29px;
	height: 28px;
	cursor: pointer;
	margin-left:5px;
	margin-right:5px;
}
.btn-up:hover {
	background: url(/assets/img/btn/btn_up_over.png) no-repeat 0 0;
}
.btn-up:active {
	background: url(/assets/img/btn/btn_up_down.png) no-repeat 0 0;
}

.btn-explanation {
	margin-top: 11px;
	background: url(/assets/img/btn/btn_explanation_normal.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.btn-explanation:hover {
	background: url(/assets/img/btn/btn_explanation_over.png) no-repeat 0 0;
}
.btn-explanation:active {
	background: url(/assets/img/btn/btn_explanation_down.png) no-repeat 0 0;
}

.btn-video {
	margin-top: 11px;
	background: url(/assets/img/btn/btn_video_normal.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.btn-video:hover {
	background: url(/assets/img/btn/btn_video_over.png) no-repeat 0 0;
}
.btn-video:active {
	background: url(/assets/img/btn/btn_video_down.png) no-repeat 0 0;
}

.btn-image {
	margin-top: 11px;
	background: url(/assets/img/btn/btn_image_normal.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.btn-image:hover {
	background: url(/assets/img/btn/btn_image_over.png) no-repeat 0 0;
}
.btn-image:active {
	background: url(/assets/img/btn/btn_image_down.png) no-repeat 0 0;
}

.btn-sound {
	margin-top: 11px;
	background: url(/assets/img/btn/btn_sound_normal.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.btn-sound:hover {
	background: url(/assets/img/btn/btn_sound_over.png) no-repeat 0 0;
}
.btn-sound:active {
	background: url(/assets/img/btn/btn_sound_down.png) no-repeat 0 0;
}