/****** content base ******/

section#content {
	width: 1150px;
	margin: 0 auto;
}

#exit {
	float: right;
	margin-right: 10px;
}

#content__nav {
	width: 850px;
	margin: 0 auto;
	background-color: #e7e7e7;
	color: #636363;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	padding: 0 50px;
}

#content__heading {
	line-height: 30px;
	font-size: 24px;
	margin: 20px 0 20px 10px;
}

#content__heading::before {
	content: '[';
	padding-right: 10px;
	font-size: 28px;
	font-weight: 400;
}

#content__heading::after {
	content: ']';
	padding-left: 10px;
	font-size: 28px;
	font-weight: 400;
}

.content-container {
	width: 900px;
	margin: 0 auto;
}

.content__line {
	height: 1px;
	background-color: #95c2d5;
}

/****** mindmap preview ******/
#mindmap-preview {
	display: block;
	margin: 0 auto;
}