/****** content list ******/

/****** my content list *******/

#my-content-list__num {
	width: 5%;
}

#my-content-list__name {
	width: 30%;
}

#my-content-list__question {
	width: 20%;
}

#my-content-list__status {
	width: 25%;
}

#my-content-list__print {
	width: 20%;
}

.my-content-list__print:hover p {
	color: #000;
}

/****** evaluation list ******/

#evaluation-list .table__row:not(.table__row--heading):hover {
	font-weight: bold;
	cursor: pointer;
}

#evaluation-list .table__row:not(.table__row--heading):hover p {
	color: #0072bc;
}

#evaluation-list__num {
	width: 5%;
}

#evaluation-list__question {
	width: 45%;
}

#evaluation-list__chapter {
	width: 20%;
}

#evaluation-list__question-type {
	width: 15%;
}

#evaluation-list__answer-type {
	width: 15%;
}

/****** content publishing list ******/

#content-publishing__num {
	width: 5%;
}

#content-publishing__name {
	width: 30%;
}

#content-publishing__auther {
	width: 20%;
}

#content-publishing__description {
	width: 13%;
}

#content-publishing__preview {
	width: 17%;
}

#content-publishing__handle {
	width: 15%;
}

.content-publishing__handle p {
	display: inline-block;
	margin: 0 8px;
}

#content-publishing .table__cell button.activate {
	width: 100%;
}