/****** create content ******/

#create-content__info {
	padding: 24px 18px;
}

#create-content__mindmap {
	padding: 24px 12px;
}

/****** info ******/

#info__options {
	float: right;
	margin-top: 8px;
}

#info__options > * {
	float: left;
	font-size: 14px;
	text-align: center;
	margin-left: 20px;
}

#info__icon, #info__bg {
	margin-top: -4px;
}

#info__icon img, #info__bg img {
	width: 60px;
	height: 60px;
}

#info__icon p, #info__bg p {
	padding-top: 5px;
}

#info__options button {
	display: block;
	margin: 0 0 10px 0;
}

#info__container {
	width: 620px;
}

#info__name__content-name {
	padding-left: 10px;
	color: #000;
	font-weight: 400;
	line-height: 30px;
}

#info__description {
	padding-top: 15px;
	padding-left: 20px;
}

#info__description #info__content-description {
	display: inline-block;
	max-width: 550px;
	font-size: 14px;
	line-height: 135%;
}

.info__edit__icon {
	padding-left: 15px;
}

.info__edit__icon--no-padding {
	padding-left: 2px;
}

/****** mindmap *****/

#mindmap-wrap {
	display: table;
	table-layout: fixed;
	padding: 15px 0;
}

#mindmap-container {
	display: table-cell;
	width: 691px;
	height: 506px;
	border: 1px solid #c9c9c9;
	border-radius: 22px;
	overflow: hidden;
	background-color: #ededed;
}

#mindmap__heading {
	background-color: #c8dfe8;
	height: 50px;
	padding: 0 22px;
	line-height: 50px;
	text-align: right;
}

#mindmap {
	width: 650px;
	height: 440px;
	margin: 0 auto;
	overflow: scroll;
}

#mindmap-attributes {
	display: table-cell;
	width: 173px;
	padding-top: 10px;
	padding-left: 12px;
	vertical-align: top;
}

#mindmap-attributes__heading {
	background-color: #29abe1;
	color: #fff;
	text-align: center;
	border-bottom: none !important;
}

.mindmap-attributes__list {
	display: table;
	table-layout: fixed;
	line-height: 40px;
	border-bottom: 1px solid #d2d2d2;
	width: 100%;
}

.mindmap-attributes__list:last-child {
	border-bottom: none;
}

.mindmap-attributes__list__heading {
	display: table-cell;
	width: 60px;
	padding-right: 10px;
	color: #000;
	font-size: 14px;
}

.mindmap-attributes__list__value {
	display: table-cell;
	color: #898989;
	text-align: center;
	font-size: 14px;
	width: auto;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.mindmap-attributes__list__icon {
	display: table-cell;
	width: 30px;
}

#mindmap-attributes__tools {
	margin-top: 50px;
}

.mindmap-attributes__tools__button {
	line-height: 30px;
	text-align: center;
	border: 1px solid #bababa;
	border-radius: 30px;
	margin: 10px 0;
}

#mindmap-attributes__save {
	background-color: #b1d4e6;
}

#mindmap-attributes__delete {
	background-color: #d7d7d7;	
}

/****** how to ******/

#howto {
	display: block;
	margin: 0 auto;
}

/****** popup ******/

#create-content-basic__title-heading {
	display: inline-block;
	width: 80px;
	padding-left: 10px;
	font-size: 18px;
}

.create-content-basic__icon {
	margin-bottom: 5px;
}

#create-content-basic__title {
	display: inline-block;
	width: 315px;
}

#create-content-popup__selected {
	font-size: 18px;
}