/****** create content ******/

section#create-content {
	width: 900px;
	margin: 0 auto;
}

.content-heading img {
	padding-right: 10px;
}

/****** info ******/

#create-content__info {
	padding: 24px 18px;
}

#create-content__info #info__name #content-name {
	padding-left: 10px;
	color: #000;
	font-weight: 400;
	line-height: 30px;
}

#create-content__info #info__description {
	padding-top: 15px;
	padding-left: 20px;
}

#create-content__info #info__description #content-description {
	font-size: 14px;
	line-height: 135%;
}

#create-content__mindmap {
	padding: 24px 12px;
}

/****** mindmap *****/

#mindmap-wrap {
	display: table;
	padding: 15px 0;
}

#mindmap-wrap #mindmap {
	display: table-cell;
	width: 691px;
}

#mindmap-wrap #mindmap-attributes {
	display: table-cell;
	width: 100%;
	padding-left: 12px;
	vertical-align: bottom;
}

#mindmap-wrap #mindmap-attributes #mindmap-attributes__heading {
	background-color: #29abe1;
	color: #fff;
	text-align: center;
	border-bottom: none !important;
}

#mindmap-wrap #mindmap-attributes .mindmap-attributes__list {
	display: table;
	table-layout: fixed;
	line-height: 40px;
	border-bottom: 1px solid #d2d2d2;
	width: 100%;
}

#mindmap-wrap #mindmap-attributes .mindmap-attributes__list__heading {
	display: table-cell;
	width: auto;
	padding-right: 10px;
	color: #000;
	font-size: 14px;
}

#mindmap-wrap #mindmap-attributes .mindmap-attributes__list__value {
	display: table-cell;
	color: #898989;
	text-align: center;
	font-size: 14px;
	width: auto;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

#mindmap-wrap #mindmap-attributes .mindmap-attributes__list__icon {
	display: table-cell;
	width: 30px;
}

#mindmap-wrap #mindmap-attributes #mindmap-attributes__tools {
	margin-top: 50px;
}

#mindmap-attributes__tools .mindmap-attributes__tools__button {
	line-height: 30px;
	text-align: center;
	border: 1px solid #bababa;
	border-radius: 30px;
	margin: 10px 0;
}

#mindmap-attributes__tools #mindmap-attributes__save {
	background-color: #b1d4e6;
}

#mindmap-attributes__tools #mindmap-attributes__delete {
	background-color: #d7d7d7;	
}

/****** how to ******/

#howto {
	display: block;
	margin: 0 auto;
}