/****** customer center ******/

/******

	cs home

******/

#cs-home__help {
	padding-top: 10px;
	padding-left: 15px;
}

#cs-home__help > * {
	display: inline-block;
	margin-right: 100px;
}

/******

	cs notice

******/

/*
.cs-notice__order.selected::before {
	content: '\2713';
	padding-right: 4px;
}
*/

.cs-notice__order-divider {
	margin: 0 8px;
	color: #b7b7b7;
}

#cs-notice__num {
	width: 5%;
}

#cs-notice__title {
	width: 55%;
}

#cs-notice__author {
	width: 15%;
}

#cs-notice__views {
	width: 10%;	
}

#cs-notice__date {
	width: 15%;
}

/******

	cs question

******/

#cs-question__attachment {
	font-size: 14px;
	margin-left: 5px;
}
