/****** education placement *******/

#content-assign__add-search {
	display: none;
}

#content-assign__add-search__exit {
	cursor: pointer;
}

/******

	content assign content

******/

#content-assign-content__num {
	width: 5%;
}

#content-assign-content__name {
	width: 80%;
}

#content-assign-content__delete {
	width: 15%
}

/******

	content assign people

******/

#content-assign-people__num {
	width: 5%;
}

#content-assign-people__name {
	width: 45%;
}

#content-assign-people__author {
	width: 25%;
}

#content-assign-people__method {
	width: 15%;
}

#content-assign-people__delete {
	width: 10%;
}