/****** footer ******/

footer {
	width: 1150px;
	margin: 0 auto;
	padding: 15px 0 30px;
	background-color: #fff;
	text-align: center;
	color: #707070;
	font-size: 13px;
	border-top: 1px solid #b0b0b0;
}

footer p {
	line-height: 135%;
	text-align: left;
}

.footer__list{
	display: inline-block;
	margin-right: 40px;
}

.footer__list * {
	display: inline-block;
	vertical-align: top;
}

.footer__list p {
	padding-left: 2px;
}

#footer__cs-center {
	font-size: 15px;
	line-height: 125%;
}

#footer__phone-number {
	display: block;
	color: #000;
	font-size: 18px;
	line-height: 125%;
}

#copyright {
	display: inline-block;
	vertical-align: top;
}

.spacer {
	display: inline-block;
	width: 20px;
}