/****** form ******/

 input[type="text"] + span, input[type="radio"] + span {
	padding: 0 5px;
}

.form-container {
	width: 805px;
	margin: 0 auto;
}

.form__table {
	border-top: 1px solid #29abe1;
	border-bottom: 1px solid #29abe1;
	margin: 10px 0;
}

.form__table__container {
	margin-bottom: 30px;
}

.form__table__container--center {
	text-align: center;
}

.form__table__heading {
	color: #7d7d7d;
}

.form__table__list {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-bottom: 1px solid #c2c2c2;
	font-size: 14px;
}

.form__table .form__table__list:last-child {
	border-bottom: none;
}

.form__table__list__heading__necessary {
	position: relative;
}

.form__table__list__heading__necessary::before {
	content: '\2022';
	color: #29abe1;
	position: absolute;
	margin-left: -10px;
}

.form__table__list__heading {
	display: table-cell;
	vertical-align: middle;
	width: 110px;
	background-color: #d7eff9;
	color: #636363;
	padding: 15px 20px;
}

.form__table__list__heading--extend {
	width: 130px;
}

.form__table__list__value {
	display: table-cell;
	vertical-align: middle;
	padding: 8px 10px;
	color: #636363;
}

.form__table__list__value > * {
	display: inline-block;
	vertical-align: middle;
}

.form__table__list__value input[type="text"], .form__table__list__value input[type="password"] {
	display: inline-block;
	width: 180px;
	padding: 5px 10px;
	color: #000;
}

.form__table__more {
	color: #7d7d7d;
	font-size: 13px;
	padding: 3px 0 0 10px;
}

/****** custom select ******/

.custom-select {
	display: none;
}

.custom-select-container {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	color: #636363;
	text-align: left;
	line-height: 135%;
	font-size: 14px;
	z-index: 10;
}

.custom-select-container ~ p {
	margin-left: 5px;
}

.custom-select-container * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.custom-select-placeholder {
	padding: 5px 10px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
}

.custom-select-placeholder::after {
	content: '\25BC';
	position: absolute;
	right: 10px;
}

.custom-select-option-wrap {
	display: none;
	position: absolute;
	top: 110%;
	width: 100%;
	background-color: #fff;
	border: 1px solid #cfcfcf;
}

.custom-select-option {
	padding: 5px 10px;
}

.custom-select-option:hover {
	background-color: #ebebeb;
}