/****** header ******/

header {
	width: 1150px;
	margin: 0 auto;
	background-color: #fff;
}

header #header__user-nav {
	float: right;
	padding: 0 10px;
	color: #a1a1a1;
	font-size: 13px;
	line-height: 60px;
}

header #header__user-nav a {
	margin: 0 10px;
}

header #header__user-nav a:hover {
	color: #000;
}

header #header__user-nav #header__profile-image {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background-color: #eee;
	border-radius: 50%;
}

header #header__logo {
	display: inline-block;
	padding: 25px 20px;
}

header #header__link-nav {
	border-top: 1px solid #b0b0b0;
	text-align: center;
	color: #707070;
	line-height: 50px;
}

header #header__link-nav a {
	display: inline-block;
	margin: 0 30px;
	border-top: 3px solid transparent;
}

header #header__link-nav a.selected, header #header__link-nav a:hover {
	color: #000;
	border-top: 3px solid #29abe1;
}