/****** home ******/

/******

	my page

******/

.my-page__percentage-container {
	margin-left: 60px;
}

.my-page__percentage-container > * {
	display: inline-block;
}

.my-page__percentage {
	width: 200px;
	height: 12px;
	background-color: #ccc;
	border-radius: 15px;
	overflow: hidden;
}

.my-page__percentage-bar {
	width: 0;
	height: 12px;
	background-color: #00aeef;
}

/******

	profile

******/

#profile-image {
	width: 100px;
	height: 100px;
	background-color: #ededed;
	border: 1px solid #cfcfcf;
}

#master-profile__company-image p {
	color: #636363;
}

#master-profile__company-image img {
	padding: 0 5px 0 10px;
}

/******

	service

*******/

/****** service change history ******/
#service-change-history__date {
	width: 25%;
}

#service-change-history__status {
	width: 15%;
}

#service-change-history__description {
	width: 60%;	
}