/****** intro ******/

/******

	intro

******/

section.intro-container {
	width: 100%;
	min-width: 1150px;
	text-align: center;
}

section.intro-container .inner-fix {
	width: 950px;
	margin: 0 auto;
}

section#intro-middle {
	background-color: #ececec;
}

section#intro-bottom {
	padding: 60px 0;
}

#intro__innovative-img {
	margin: 30px 0;
}

#intro__sentence-wrap {
	margin-top: 20px;
}

.intro__sentence {
	padding: 10px 0;
}

.intro__sentence.second {
	font-size: 24px;
}

.intro__sentence.third {
	display: block;
	width: 525px;
	margin: 0 auto;
	text-align: left;
	font-size: 18px;
}

#intro__register {
	font-size: 24px;
	border-bottom: 1px solid transparent;
}

#intro__register:hover {
	border-bottom: 1px solid #cdcdcd;
}

#intro__gpac-enterprise {
	font-size: 26px;
}

#intro__service-concept {
	display: table;
	width: 700px;
	margin: 20px auto;
}

.intro__service-concept__descriptions {
	display: table-cell;
}

.intro__service-concept__descriptions.first {
	text-align: left;
}

.intro__service-concept__descriptions.third {
	text-align: right;
}

/******

	login

******/

section.login-container {
	width: 350px;
	padding-top: 15%;
	margin: 0 auto;
	text-align: center;
}

.login__logo {
	display: block;
	margin: 0 auto 20px;
}

.intro__options {
	text-align: center;
	margin: 15px 0 20px;
}

.error-message {
	text-align: center;
	margin-top: 15px;
}

#login-form .login__link {
	display: inline-block;
}

#login__save {
	color: #707070;
	margin-right: 35px;
}

#login__forgot-password {
	margin-right: 35px;
}

#login__register {
	margin-left: 35px;
}

/******
	
	register

******/

#register-header {
	text-align: center;
	margin-bottom: 20px;
}

#register-header__heading {
	padding: 10px 0;
	font-size: 22px;
}

#register-header p {
	color: #808080;
	line-height: 150%;
	font-size: 14px;
}

.register__confirm {
	text-align: center;
}

.register__confirm button {
	width: 170px;
}

/****** register form ******/
#register-info__company-image p {
	color: #636363;
	padding-left: 20px;
}

.register__heading-sub {
	font-size: 13px;
	padding-left: 50px;
}

#register__username-check {
	display: inline-block;
	width: 260px;
}

/****** register terms *******/
.register-terms__box {
	height: 170px;
	margin: 10px 0;
	border-top: 15px solid #ebebeb;
	border-bottom: 15px solid #ebebeb;
	font-size: 14px;
	background-color: #ebebeb;
	border-radius: 20px;
	overflow: scroll;
}

.register-terms__box > * {
	padding: 10px 50px;
}

.register-terms__check p {
	font-size: 14px;
}