/****** layout ******/

/******

	header

******/

header {
	width: 1150px;
	margin: 0 auto;
	background-color: #fff;
}

header #header__user-nav {
	float: right;
	padding: 0 10px;
	color: #a1a1a1;
	font-size: 13px;
	line-height: 60px;
}

header #header__user-nav a {
	margin: 0 10px;
}

header #header__user-nav a:hover {
	color: #000;
}

header #header__user-nav #header__profile-image {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background-color: #eee;
	border-radius: 50%;
}

header #header__logo {
	display: inline-block;
	padding: 25px 20px;
}

header #header__link-nav {
	border-top: 1px solid #b0b0b0;
	text-align: center;
	color: #707070;
	line-height: 50px;
}

header #header__link-nav a {
	display: inline-block;
	margin: 0 30px;
	border-top: 3px solid transparent;
}

header #header__link-nav a.selected, header #header__link-nav a:hover {
	color: #000;
	border-top: 3px solid #29abe1;
}

/******

	footer

******/

footer {
	width: 1150px;
	margin: 0 auto;
	padding: 15px 0 30px;
	background-color: #fff;
	text-align: center;
	color: #707070;
	font-size: 13px;
	border-top: 1px solid #b0b0b0;
}

footer p {
	line-height: 135%;
	text-align: left;
}

footer .footer__list{
	display: inline-block;
	margin-right: 40px;
}

footer .footer__list * {
	display: inline-block;
	vertical-align: top;
}

footer .footer__list p {
	padding-left: 2px;
}

footer #footer__cs-center {
	font-size: 15px;
	line-height: 125%;
}

footer #footer__phone-number {
	display: block;
	color: #000;
	font-size: 18px;
	line-height: 125%;
}

footer #copyright {
	display: inline-block;
	vertical-align: top;
}

footer .spacer {
	display: inline-block;
	width: 20px;
}

/******

	content base

******/

section#content {
	position: relative;
	width: 1150px;
	margin: 0 auto;
}

#content__nav {
	width: 850px;
	margin: 0 auto;
	background-color: #e7e7e7;
	color: #636363;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	padding: 0 50px;
}

#content__heading {
	display: inline-block;
	line-height: 30px;
	font-size: 24px;
	margin: 0 0 20px 10px;
}

#content__sub-heading {
	float: right;
	font-size: 16px;
	margin-top: 6px;
}

#content__heading::before {
	content: '[';
	padding-right: 10px;
	font-size: 28px;
	font-weight: 400;
}

#content__heading::after {
	content: ']';
	padding-left: 10px;
	font-size: 28px;
	font-weight: 400;
}

.content-container {
	width: 900px;
	margin: 0 auto;
	padding: 20px 0;
}

.content-options {
	position: relative;
	margin-bottom: 15px;
}

.content-options p {
	display: inline-block;
}

.content-options input[type="text"] {
	display: inline-block;
	width: 180px;
	padding: 5px 10px;
	margin: 0 5px;
}

.content-options--left {
	float: left;
}

.content-options--right {
	float: right;
}

.content__line {
	height: 1px;
	background-color: #95c2d5;
}


/******

	navigating button

******/

#back {
	position: absolute;
	top: 15px;
	left: 20px;
}

#exit {
	position: absolute;
	top: 15px;
	right: 20px;
}