/****** login ******/

section.login-container {
	width: 350px;
	margin: 15% auto 0;
	text-align: center;
}

#back {
	position: absolute;
	top: 2%;
	left: 2%;
}

#logo {
	display: block;
	margin: 0 auto 20px;
}

.intro__options {
	text-align: center;
	margin: 15px 0 20px;
}

.error-message {
	text-align: center;
	margin-top: 15px;
}

#login-form .login__link {
	display: inline-block;
}

#login__save {
	color: #707070;
	margin-right: 35px;
}

#login__forgot-password {
	margin-right: 35px;
}

#login__register {
	margin-left: 35px;
}