/****** main ******/

section.container {
	width: 100%;
	min-width: 1150px;
	text-align: center;
}

section.container .inner-fix {
	width: 950px;
	margin: 0 auto;
}

section#middle {
	background-color: #ececec;
}

section#bottom {
	padding: 60px 0;
}

#innovative-img {
	margin: 30px 0;
}

#sentence-wrap {
	margin-top: 20px;
}

#sentence-1, #sentence-2, #sentence-3 {
	padding: 10px 0;
}

#sentence-1, #sentence-2 {
	color: #5a5959;
}

#sentence-2 {
	font-size: 24px;
}

#sentence-3 {
	display: block;
	width: 525px;
	margin: 0 auto;
	text-align: left;
	font-size: 18px;
}

#register {
	font-size: 24px;
}

#gpac-enterprise {
	font-size: 26px;
}

#service-concept {
	display: table;
	width: 700px;
	margin: 20px auto;
}

.service-concept__descriptions {
	display: table-cell;
}

.service-concept__descriptions.first {
	text-align: left;
}

.service-concept__descriptions.third {
	text-align: right;
}