/****** message ******/

section.message {
	width: 615px;
	margin: 15% auto 0;
	text-align: center;
}

#logo {
	margin-bottom: 10px;
}

.message__box {
	border-radius: 10px;
	margin-bottom: 20px;
}

.message__box--border {
	border: 1px solid #29abe1;
}

.message__box--fill {
	background-color: #ddf0f8;
}

.message__box__top {
	padding: 15px 0;
	margin: 0 15px;
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #81bed8;
}

.message__box__middle {
	padding: 50px 130px;
	line-height: 125%;
}

.message__box__middle--expand {
	padding: 50px 40px;
}