/****** module ******/

/******

	form

******/

form * {
	vertical-align: middle;
}

.form-container {
	width: 805px;
	margin: 0 auto;
}

.form-container input[type="text"] + span, input[type="radio"] + label {
	padding: 0 5px;
}

.form__table {
	border-top: 1px solid #29abe1;
	border-bottom: 1px solid #29abe1;
	margin: 10px 0;
}

.form__table__container {
	margin-bottom: 30px;
}

.form__table__container--center {
	text-align: center;
}

.form__table__heading {
	color: #7d7d7d;
}

.form__table__list {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-bottom: 1px solid #c2c2c2;
	font-size: 14px;
}

.form__table .form__table__list:last-child {
	border-bottom: none;
}

.form__table__list__heading__necessary {
	position: relative;
}

.form__table__list__heading__necessary::before {
	content: '\2022';
	color: #29abe1;
	position: absolute;
	margin-left: -10px;
}

.form__table__list__heading {
	display: table-cell;
	vertical-align: middle;
	width: 110px;
	background-color: #d7eff9;
	color: #636363;
	padding: 15px 20px;
}

.form__table__list__heading--extend {
	width: 130px;
}

.form__table__list__value {
	display: table-cell;
	vertical-align: middle;
	padding: 8px 10px;
	color: #636363;
}

.form__table__list__value > * {
	display: inline-block;
	vertical-align: middle;
}

.form__table__list__value input[type="text"], .form__table__list__value input[type="password"] {
	display: inline-block;
	width: 180px;
	padding: 5px 10px;
	color: #000;
}

.form__table__list__value input[type="text"].extend {
	width: 500px;
}

.form__table__more {
	color: #7d7d7d;
	font-size: 13px;
	padding: 3px 0 0 10px;
}

/******

	custom select

******/

.custom-select {
	display: none !important;
}

.custom-select-container {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	color: #636363;
	text-align: left;
	line-height: 135%;
	font-size: 14px;
	z-index: 10;
	cursor: pointer;
}

.custom-select-container.selected {
	z-index: 100;
}

.custom-select-container ~ p {
	margin-left: 5px;
}

.custom-select-container * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.custome-select__placeholder {
	padding: 5px 20px 5px 10px;
	background-color: #ebebeb;
	border: 1px solid #cfcfcf;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.popup__heading .custome-select__placeholder {
	background-color: #fff;
}

.custome-select__placeholder::after {
	content: '\25BC';
	position: absolute;
	right: 10px;
}

.custom-select__option-wrap {
	display: none;
	position: absolute;
	top: 110%;
	width: 100%;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	max-height: 90px;
	overflow: auto;
}

.custom-select__option {
	padding: 5px 10px;
	word-wrap: break-word;
}

.custom-select__option:hover {
	background-color: #ebebeb;
}

/******

	search

******/

.search-bar {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

.search-bar input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	padding-right: 30px !important;
	margin: 0 !important;
}

.search-bar img {
	position: absolute;
	top: 7px;
	right: 10px;
}

.search__results {
	position: absolute;
	top: 100%;
	width: 100%;
	background-color: #fff;
	font-size: 14px;
	line-height: 135%;
	color: #636363;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor: pointer;
}

.search__results__item {
	padding: 5px 10px;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.search__results__item:hover {
	background-color: #ebebeb;
}

/******

	list

******/

.list-container {
	margin-bottom: 30px;
}

.list__heading {
	padding: 5px 15px;
	background-color: #b7dae8;
}

.list__heading--light {
	background-color: #dbecf3;
}

.list__value {
	list-style-type: square;
	color: #00aeef;
	padding: 15px 20px;
	list-style-position: inside;
	text-align: left;
}

.list__value li {
	padding: 3px 0;
}

.list__value span {
	color: #000;
	line-height: 135%;
}

.list__line {
	height: 1px;
	margin: 0 5px;
	background-color: #b7dae8;
}

.list__value__text {
	list-style-type: none;
}

li ~ .list__value__text {
	margin-top: 10px;
}

.list__value__heading {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.list__value__date {
	float: right;
	margin: 0 20px;
}

/****** dropdown style ******/
.list-dropdown .list__heading {
	padding: 12px 15px;
	background-color: #fff;
	border-bottom: 1px solid #b7dae8;
	cursor: pointer;
}

.list-dropdown .list__value {
	display: none;
	background-color: #e4f3f9;
	border-bottom: 1px solid #b7dae8;
}

/******

	table

******/

.table-container {
	display: table;
	width: 100%;
	border-top: 1px solid #29abe1;
	border-bottom: 1px solid #29abe1;
	margin-bottom: 15px;
}

.table-container .inline-middle > * {
	line-height: 20px;
}

.table-description {
	font-size: 14px;
	margin-bottom: 15px;
}

.table-button-container {
	text-align: center;
	margin-bottom: 30px;
}

.table__row {
	display: table-row;
}

.table__row--heading {
	text-align: center;
	background-color: #b7dae8;
}

.table__cell {
	display: table-cell;
	vertical-align: middle;
}

.table__cell--center {
	text-align: center;
}

.table__row .table__cell {
	padding: 5px 15px;
}

.table__row .table__cell * {
	line-height: 20px;
	padding: 5px 0;
}

.table__row:not(.table__row--heading) .table__cell {
	font-size: 14px;
	color: #707070;
}

.table__row:not(.table__row--heading):nth-child(2n+1) {
	background-color: #f1f1f1;
}

.table__row--heading .table__cell {
	padding: 5px 0;
}

.table__row--heading .table__cell p {
	line-height: 30px;
	border-right: 1px solid #8ca7b1;
}

.table__row--heading .table__cell:last-child p {
	border-right: none;
}

/******

	image view

******/

.image-container {
	display: table;
	width: 100%;
	margin-bottom: 15px;
}

.image-button-container {
	text-align: center;
	margin-bottom: 30px;
}

.image__row {
	display: table-row;
}

.image__cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 5px 0;
}

.image__cell p {
	font-size: 14px;
	margin-top: 5px;
	color: #707070;
}

/******

	paging

******/

.paging {
	text-align: center;
	margin-bottom: 30px;
}

.paging * {
	display: inline-block;
	margin: 0 2px;
}

.paging__first, .paging__last {
	color: #a5cee9;
	letter-spacing: -5px;
}

/****** letter spacing bug fix ******/
.paging__prev {
	margin-left: 6px;
}

.paging__prev, .paging__next {
	color: #0973ba;
}

/******

	message

******/

.message {
	width: 615px;
	margin: 15% auto 0;
	text-align: center;
}

.message #logo {
	margin-bottom: 10px;
}

.message__box {
	border-radius: 10px;
	margin-bottom: 20px;
}

.message__box--border {
	border: 1px solid #29abe1;
}

.message__box--fill {
	background-color: #ddf0f8;
}

.message__box__top {
	padding: 15px 0;
	margin: 0 15px;
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #81bed8;
}

.message__box__middle {
	padding: 50px 130px;
	line-height: 125%;
}

.message__box__middle--expand {
	padding: 50px 40px;
}

/****** 

	popup

******/

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.popup__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: -1;
}

.popup__container {
	position: relative;
	width: 450px;
	margin: 50px auto 0;
	border: 1px solid #29abe1;
}

.popup__container--wide {
	width: 550px;
}

.popup__exit {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	z-index: 100;
}

.popup__heading {
	padding: 10px 30px;
	line-height: 30px;
	color: #29abe1;
	text-align: center;
	background-color: #e3f4fb;
}

.popup__heading img + h3 {
	padding-left: 5px;
}

.popup__heading input[type="text"] {
	display: inline-block;
	width: 180px;
	padding: 5px 10px;
	margin: 0 5px;
	background-color: #fff;
}

.popup__heading__sub {
	float: left;
}

.popup__heading__sub * {
	display: inline-block;
}

.popup__heading__sub-options {
	float: right;
	margin-right: 30px;
}

.popup__heading__sub-options p {
	display: inline-block;
}

.popup__content {
	padding: 8px 20px;
	background-color: #fff;
	color: #7d7d7d;
}

.popup__black {
	color: #000;
}

.popup__content__section {
	position: relative;
	padding: 8px 0;
	font-size: 14px;
}

.popup__content__section--grey {
	background-color: #ebebeb;
}

.popup__content__section--grey input[type="text"] {
	background-color: #fff;
}

.popup__content__section--dashed-border {
	border: 1px dashed #6dcff6;
}

.popup__content__section p {
	line-height: 150%;
}

.popup__content__section__inline {
	padding: 5px 0;
}

.popup__content__section__inline > * {
	display: inline-block;
	font-size: 14px;
}

.popup__content__section__inline label:first-child {
	display: inline-block;
	width: 70px;
	font-size: 15px;
	line-height: 30px;
	padding-left: 10px;
	text-align: left;
}

.popup__content__section__inline label.extend {
	width: 90px;
}

.popup__content__section__inline label.shorten {
	width: 50px;
}

.popup__content__section__inline label + input[type="text"] {
	display: inline-block;
	width: 200px;
	padding: 6px 10px;
}

.popup__content__section__inline label + input[type="text"].extend {
	width: 220px;
}

.popup__content__section__inline label + .popup__content__section__inline__long-text {
	display: inline-block;
	width: 320px;
}

.popup__content__section__inline label + textarea {
	padding: 6px 10px;
	height: 50px;
	vertical-align: top;
}

.popup__content__section__inline label + p {
	display: inline-block;
	max-width: 180px;
	margin-right: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
}

.popup__content__section__inline .custom-select-container {
	margin-left: 0;
}

.popup__content__section--center {
	text-align: center;
}

.popup__content__section__scroll {
	text-align: center;
	overflow: auto;
}

.popup__content__section__scroll--60 {
	height: 378px;
}

.popup__content__section__scroll--70 {
	height: 365px;
}

.popup__content__section__scroll--125 {
	height: 365px;
}

.popup__content__section__scroll__item {
	display: inline-block;
	margin-bottom: 3px;
	cursor: pointer;
}

.popup__content__section__scroll__item:hover {
	background-color: #ccebf8;
}

/****** 6 in row ******/
.popup__content__section__scroll__item--60 {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

/****** 5 in row ******/
.popup__content__section__scroll__item--70 {
	width: 70px;
	height: 70px;
	line-height: 70px;
}

/****** 3 in row ******/
.popup__content__section__scroll__item--125 {
	width: 125px;
	height: 150px;
	line-height: 150px;
}

/****** element layout ******/
.popup__content__element {
	font-size: 0;
}

[class*="popup__content__element__"] {
	position: relative;
	display: inline-block;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.popup__content__element__half {
	width: 50%;
}

.popup__content__element__one_third {
	width: 33.33%;
	padding: 0 10px;
}

.popup__content__element--bottom {
	vertical-align: bottom;
}

.popup__content__element__image {
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: #ededed;
}

.popup__content__element__delete-button {
	position: relative;
	float: right;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: #29abe1;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}

.popup__content__element__delete-button::after {
	content: '\00d7';
	font-size: 20px;
	line-height: 20px;
	color: #fff;
}

.popup__content__element__delete-button--corner {
	position: absolute;
	float: none;
	top: -10px;
	right: 0;
}

/******

	viewer

******/

.viewer {
	margin-bottom: 30px;
}

.viewer__inline {
	display: table;
	table-layout: fixed;
	width: 100%;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #b7dae8;
}

.viewer__inline__heading {
	display: table-cell;
	width: 150px;
	padding: 0 25px;
	background-color: #dbecf3;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.viewer__inline__spacer {
	display: table-cell;
	width: 8px;
}

.viewer__inline__text {
	display: table-cell;
	width: auto;
	padding: 15px 30px;
	vertical-align: middle;
}

.viewer__inline__text input[type="text"], .viewer__inline__text textarea {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.viewer__inline__text button {
	margin: 0;
}

.viewer__inline__text--border {
	border: 1px solid #b7dae8;
}

.viewer__inline__text--bold {
	font-weight: bold;
}

.viewer__inline__text--full {
	padding: 15px 50px;
	line-height: 135%;
}

.viewer__inline__text--no-padding {
	padding: 10px 0;
}

.viewer__button-container {
	margin-top: 15px;
	text-align: center;
}