/****** my page ******/

.my-page__percentage-container {
	margin-left: 60px;
}

.my-page__percentage-container > * {
	display: inline-block;
}

.my-page__percentage {
	width: 200px;
	height: 12px;
	background-color: #ccc;
	border-radius: 15px;
	overflow: hidden;
}

.my-page__percentage-bar {
	width: 0;
	height: 12px;
	background-color: #00aeef;
}

/****** list ******/

.list-container {
	margin-bottom: 30px;
}

.list__heading {
	padding: 5px 15px;
	background-color: #b7dae8;
}

.list__value {
	list-style-type: square;
	color: #00aeef;
	margin: 15px 0 0 20px;
	list-style-position: inside;
}

.list__value--more {
	list-style-type: none;
	margin-top: 10px;
}

.list__value li {
	padding: 3px 0;
}

.list__value span {
	color: #000;
	line-height: 135%;
}

.list__value__date {
	float: right;
	margin: 0 20px;
}