/****** popup ******/

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.popup__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: -1;
}

.popup__container {
	width: 450px;
	margin: 8% auto 0;
	border: 1px solid #29abe1;
}

.popup__container--wide {
	width: 550px;
}

.popup__heading {
	padding: 10px 30px;
	line-height: 30px;
	color: #29abe1;
	text-align: center;
	background-color: #e3f4fb;
}

.popup__heading img + h3 {
	padding-left: 5px;
}

.popup__heading__sub {
	float: left;
}

.popup__heading__sub-options {
	float: right;
}

.popup__heading__sub-options p {
	display: inline-block;
}

.popup__content {
	padding: 10px 20px;
	background-color: #fff;
	color: #7d7d7d;
}

.popup__black {
	color: #000;
}

.popup__content__section {
	position: relative;
	padding: 10px 0;
	font-size: 14px;
}

.popup__content__section p {
	line-height: 150%;
}

.popup__content__section--center {
	text-align: center;
}

.popup__content__section__scroll {
	text-align: center;
	overflow: auto;
}

.popup__content__section__scroll--60 {
	height: 378px;
}

.popup__content__section__scroll--70 {
	height: 365px;
}

.popup__content__section__scroll--125 {
	height: 365px;
}

.popup__content__section__scroll__item {
	display: inline-block;
	margin-bottom: 3px;
	cursor: pointer;
}

.popup__content__section__scroll__item:hover {
	background-color: #ccebf8;
}

/****** 6 in row ******/
.popup__content__section__scroll__item--60 {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

/****** 5 in row ******/
.popup__content__section__scroll__item--70 {
	width: 70px;
	height: 70px;
	line-height: 70px;
}

/****** 3 in row ******/
.popup__content__section__scroll__item--125 {
	width: 125px;
	height: 150px;
	line-height: 150px;
}

.popup__content__element {
	font-size: 0;
}

[class*="popup__content__element__"] {
	position: relative;
	display: inline-block;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.popup__content__element__half {
	width: 50%;
}

.popup__content__element__one_third {
	width: 33.33%;
	padding: 0 10px;
}

.popup__content__element--bottom {
	vertical-align: bottom;
}

.popup__content__element__image {
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: #ededed;
}

.popup__delete-button {
	position: relative;
	float: right;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: #29abe1;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}

.popup__delete-button::after {
	content: '\00d7';
	font-size: 20px;
	line-height: 20px;
	color: #fff;
}

.popup__delete-button--corner {
	position: absolute;
	float: none;
	top: -10px;
	right: 0;
}

.popup__buttons {
	text-align: center;
}