/****** profile ******/

#profile-image {
	width: 100px;
	height: 100px;
	background-color: #ededed;
	border: 1px solid #cfcfcf;
}

#master-profile__company-image p {
	color: #636363;
}

#master-profile__company-image img {
	padding: 0 5px 0 10px;
}