<<<<<<< .mine
/****** progress tracking ******/

/******

	learning progress all

*******/

#learning-progress-all__num {
	width: 5%;
}

#learning-progress-all__name {
	width: 20%;
}

#learning-progress-all__content-name {
	width: 35%;
}

#learning-progress-all__study-progress, #learning-progress-all__questions {
	width: 20%;
}


/******

	learning progress detail

******/

#learning-progress-detail-study, #learning-progress-detail-question {
	padding-top: 150px;
}

#learning-progress-detail-study #content__heading, #learning-progress-detail-question #content__heading {
	display: block;
	text-align: center;
	margin: 0 auto 20px;
}

/****** study progress ******/
#learning-progress-detail-study__num {
	width: 5%;
}

#learning-progress-detail-study__content-name {
	width: 65%;
}

#learning-progress-detail-study__date {
	width: 30%;
}

/****** question progress ******/
#learning-progress-detail-question__num {
	width: 5%;
}

#learning-progress-detail-question__question {
	width: 60%;
}

#learning-progress-detail-question__type {
	width: 15%;
}

#learning-progress-detail-question__date {
	width: 20%;
=======
/****** progress tracking ******/

/******

	learning progress all

*******/

#learning-progress-all__num {
	width: 5%;
}

#learning-progress-all__name {
	width: 20%;
}

#learning-progress-all__content-name {
	width: 35%;
}

#learning-progress-all__study-progress, #learning-progress-all__questions {
	width: 20%;
}


/******

	learning progress detail

******/

#learning-progress-detail-study, #learning-progress-detail-question {
	padding-top: 150px;
}

#learning-progress-detail-study #content__heading, #learning-progress-detail-question #content__heading {
	display: block;
	text-align: center;
	margin: 0 auto 20px;
}

/****** study progress ******/
#learning-progress-detail-study__num {
	width: 5%;
}

#learning-progress-detail-study__content-name {
	width: 65%;
}

#learning-progress-detail-study__date {
	width: 30%;
}

/****** question progress ******/
#learning-progress-detail-question__num {
	width: 5%;
}

#learning-progress-detail-question__question {
	width: 60%;
}

#learning-progress-detail-question__type {
	width: 15%;
}

#learning-progress-detail-question__date {
	width: 20%;
>>>>>>> .r157
}

/******

	learning progress matter

******/

#learning-progress-matter__question {
	vertical-align: top;
}

.learning-progress-matter__answer {
	border-bottom: 1px solid #acacac;
	vertical-align: top;
}

.learning-progress-matter__answer__wrap {
	display: table;
	width: 100%;
}

.learning-progress-matter__answer__wrap p {
	display: table-cell;
	padding-top: 5px;
}

.learning-progress-matter__answer__wrap__type {
	display: table-cell;
	width: 40px;
	text-align: center;
	line-height: 30px;
	vertical-align: top;
}