/****** register forms *******/

#register-info__company-image p {
	color: #636363;
	padding-left: 20px;
}

.register__heading-sub {
	font-size: 13px;
	padding-left: 50px;
}

#register__username-check {
	display: inline-block;
	width: 235px;
}
