/****** register terms *******/

.register-terms__box {
	height: 170px;
	margin: 10px 0;
	border-top: 15px solid #ebebeb;
	border-bottom: 15px solid #ebebeb;
	font-size: 14px;
	background-color: #ebebeb;
	border-radius: 20px;
	overflow: scroll;
}

.register-terms__box > * {
	padding: 10px 50px;
}

.register-terms__check p {
	font-size: 14px;
}