/****** register ******/

#back {
	position: absolute;
	top: 2%;
	left: 2%;
}

#register-header {
	text-align: center;
	margin-bottom: 20px;
}

#register-header__heading {
	padding: 10px 0;
}

#register-header p {
	color: #808080;
	line-height: 150%;
	font-size: 14px;
}

.register__confirm {
	text-align: center;
}

.register__confirm button {
	width: 170px;
}