/****** settlement management ******/

/******

	adjustment pending

******/

#adjustment-pending__num {
	width: 5%;
}

#adjustment-pending__department {
	width: 13%;
}

#adjustment-pending__content-name {
	width: 25%;
}

#adjustment-pending__amount {
	width: 10%;
}

#adjustment-pending__user-num {
	width: 10%;
}

#adjustment-pending__date {
	width: 10%;
}

#adjustment-pending__fee {
	width: 17%;
}

#adjustment-pending__status {
	width: 10%;
}

/******

	adjustment complete

******/

#adjustment-complete__num {
	width: 5%;
}

#adjustment-complete__department {
	width: 15%;
}

#adjustment-complete__content-name {
	width: 35%;
}

#adjustment-complete__amount {
	width: 10%;
}

#adjustment-complete__user-num {
	width: 10%;
}

#adjustment-complete__fee {
	width: 20%;
}

/******

	adjustment payment

******/

#adjustment-payment__form {
	width: 750px;
}

#adjustment-payment__form .message__box__middle {
	padding-top: 70px;
}

.adjustment-payment__method {
	float: left;
	display: block;
	width: 33.33%;
	text-align: center;
}