/****** table ******/

.table-options {
	margin-bottom: 15px;
}

.table-options p {
	display: inline-block;
}

.table-options--left {
	float: left;
}

.table-options--right {
	float: right;
}

.table-container {
	display: table;
	width: 100%;
	border-top: 1px solid #29abe1;
	border-bottom: 1px solid #29abe1;
	margin-bottom: 30px;
}

.table-container .inline-middle > * {
	line-height: 20px;
}

.table__row {
	display: table-row;
}

.table__row--heading {
	text-align: center;
	background-color: #b7dae8;
}

.table__cell {
	display: table-cell;
	vertical-align: middle;
}

.table__cell--center {
	text-align: center;
}

.table__row .table__cell {
	padding: 5px 15px;
}

.table__row .table__cell p {
	line-height: 20px;
	padding: 5px 0;
}

.table__row:not(.table__row--heading) .table__cell {
	font-size: 14px;
	color: #707070;
}

.table__row:not(.table__row--heading):nth-child(2n+1) {
	background-color: #f1f1f1;
}

.table__row--heading .table__cell {
	padding: 5px 0;
}

.table__row--heading .table__cell p {
	line-height: 30px;
	border-right: 1px solid #8ca7b1;
}

.table__row--heading .table__cell:last-child p {
	border-right: none;
}