<<<<<<< .mine
/****** template ******/

#template__nav {
	border-top: 1px solid #b7dae8;
	border-bottom: 1px solid #b7dae8;
	padding: 10px 20px;
	margin-bottom: 15px;
	font-weight: bold;
}

#template__nav a {
	margin-right: 25px;
}=======
/****** template ******/

#template__nav {
	border-top: 1px solid #b7dae8;
	border-bottom: 1px solid #b7dae8;
	padding: 10px 20px;
	margin-bottom: 15px;
	font-weight: bold;
}

#template__nav a {
	margin-right: 25px;
}>>>>>>> .r157
