/****** to register staff user ******/

/******

	download template

******/

#download-template {
	font-size: 16px;
	font-weight: 600;
}


/******

	user list

******/

#user-list__num {
	width: 5%;
}

#user-list__name {
	width: 15%;
}

#user-list__email {
	width: 25%;
}

#user-list__member-num {
	width: 20%;
}

#user-list__department {
	width: 20%;
}

#user-list__authority {
	width: 15%;
}

/******

	dept list

******/

#dept-list__num {
	width: 5%;
}

#dept-list__department-name {
	width: 50%;
}

#dept-list__department-num {
	width: 45%;
}